.modal-about-reg {
    .c-title {
        font-size: 40px;
        color: #054DA0;
        font-weight: 600;
    }

    .p-alert {
        margin: auto;
        margin-top: 20px;
        padding: 20px 24px;
        border: 1px solid #ED4141;
        max-width: 500px;
    }
}


.page-content {
    .page-header {
        margin: 60px 0px;

        .page-title {
            font-size: 40px;
            font-weight: 600;
            font-family: "Noto Serif JP", serif;
            text-align: center;
            line-height: 1.5;
        }
    }
}

.form-content {
    max-width: 760px;
    margin: auto;

    .form-description {
        font-size: 16px;
        line-height: 1.7;
        color: #000000;
    }


    .form-group {
        margin-bottom: 20px;

        .form-label {
            display: block;
            font-size: 16px;
            font-weight: 600;
            color: #505050;
            font-family: "Noto Sans JP", sans-serif;
            margin-bottom: 3px;

            &.required {
                &::after {
                    content: '*';
                    color: #E20000;
                    margin-left: 3px;
                }
            }
        }

        .form-input {
            width: 100%;
            background-color: #EBEBEB;
            border: none;
            border-radius: 5px;
            height: 48px;
            font-size: 16px;
            font-family: "Noto Sans JP", sans-serif;
            padding: 0px 16px;
        }
    }

    .form-input-error {
        font-size: 14px;
        color: #E20000;
        margin-top: 5px;
    }

    .privacy-policy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #505050;

        .privacy-policy-input {
            border: 1px solid #707070;
            border-radius: 5px;
            scale: 1.5;
            margin-right: 10px;

            &:checked {
                background-color: #000;
                border-color: #000;
            }
        }
    }

    .form-submit {
        margin-top: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-checkbox {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #707070;
        background-color: #fff;

        &:checked {
            background-color: #000;
            border-color: #000;
        }
    }

    // 地図コンテナ
    #map {
        min-height: 600px;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }

    // 位置情報ステータス
    #location-status {
        p {
            margin: 5px 0;
            padding: 8px;
            background-color: #f5f5f5;
            border-radius: 4px;
        }
    }
}
