▼全ての流れ
１．TOPページで、同意して進むボタンを押すと
２．ポップアップが表示される
３．新規申込を押す
４．メールアドレス入力画面に移動する
５．同意して、メールを送信する
６．メール送信完了画面
７．メールが届く　→　メール文面
【トークンで専用のURLを作成してください】
８．メールのリンクから、新規申込みの登録画面に移動する
９．基本情報を入力する
　┗エラーがあれば進めません
　┗（住所は、名古屋市であるかどうかをチェックしてください）
１０．地図登録画面
　┗googlemap apiで、自宅住所・排出場所にピンを落とせる
　┗apiで、ポリゴンを配置して、ピンを落とせない場所を出す
　┗apiで、排出場所のピンを表示させる
　┗排出場所の近くにピンを落とすと、排出場所と重ねるかどうかのアラートを出す
　┗自宅と排出場所が500m以上離れていると、アラートを出す　（数値は後で変えます）
（ポリゴンや、排出場所についはダミーで進めてください）
１１．上記が全部okなら、品目入力画面へ
12．品目入力画面で、品目から商品を選べるようにする
　┗品目DBを簡単に作っておいてください（https://www.nagoya-sodaigomi.jp/eco/view/nagoya/dustlistSearch.html?te-uniquekey=19b1b4b4a75)
　┗その品目DBから、種別とキーワード検索できる。
　┗商品を選んで、個数を変更・削除できる
　┗個数変更や、追加すると、自動で金額が変わる

１３．申込内容の確認画面に移動する
　┗基本的にここでは、これまでの入力のすべてを表示する
　┗会員登録の同意CheckBoxを用意しているので、on /off で挙動が変わります
　┗収集日の確定だけ、ルールが必要
　　┗ユーザーの自宅住所の緯度経度によって、収集日が変わる
　　┗この資料が届いていない（今はダミーデータでお願いします）
***
この部分で、会員登録の同意checkboxを用意して、と言っていますが、この部分はなくなりました。
つまり、必ず、申込みした時点で
裏側で会員登録をさせておくことに決まりました。
***

１４．支払画面
１５．コンビニで排出券を購入する　場合、受付完了で終わり
　　┗受付番号を、【4桁】-【5桁】
　　【メール送付して下さい】　↓メール文面
１６．オンライン支払いの場合
　　┗GMOペイメントの専用画面へ遷移する
　　https://www.gmo-pg.com/service/mulpay-linktypeplus/　（多分）
　　┗決済完了　（即時決済）
１７．受付完了です
　　┗受付番号を、【4桁】-【5桁】生成する（ルール確認中）
　　【メール送付して下さい】
　　┗会員登録に同意していた場合は、会員登録を行う。
　　　┗この時会員に保存しておくデータは、基本情報と、地図情報のデータになる
　　　┗会員登録時は仮パスワードで、完了メールに追記してください。
**
仮パスワードを通知する方向で作成してください。
*
