// src/assets/scss/app.scss

@import './base/breakpoint';
@import './base/base';
@import './component/component';
@import './component/side-nav';
@import './page/_dashboard';
@import './base/fonts';
@import './layout/header';
@import './layout/footer';
@import './page/page';
