.p-header {
    padding: 24px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .c-logo {
        width: 270px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
