.p-header {
    padding: 24px 50px;

    background-color: #fff;
    border-bottom: 1px solid #707070;

    .inner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .c-logo {
            display: block;
            width: 270px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .info {
            text-align: right;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #505050;
            font-weight: 600;
        }
    }
}


.c-top-nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #707070;

    .c-top-nav-item {
        display: block;
        flex: 1;
        padding: 16px 24px;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Noto Sans JP', sans-serif;
        color: #505050;
        background-color: #EFEFEF;
        text-align: center;

        &:not(:last-child) {
            border-right: 1px solid #707070;
        }

        &:hover {
            background-color: #D9D9D9;
        }
    }
}
