html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    translate: 0.5s all;
    font-family: "Noto Sans JP", sans-serif;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.underline {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

.c-container {
    max-width: 1240px;
    margin: auto;
    padding: 0px 20px;
}
