@mixin breakpoint($breakpoint) {
    @if $breakpoint =="xs" {
        @media (max-width: 576px) {
            @content;
        }
    }

    @if $breakpoint =="sm" {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $breakpoint =="md" {
        @media (max-width: 992px) {
            @content;
        }
    }

    @else if $breakpoint =="lg" {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else if $breakpoint =="xl" {
        @media (max-width: 1400px) {
            @content;
        }
    }

    @else if $breakpoint =="xxl" {
        @media (max-width: 1600px) {
            @content;
        }
    }
}
