.noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
}

.shippori-mincho {
    font-family: "Shippori Mincho", serif;
}

.noto-serif-jp {
    font-family: "Noto Serif JP", serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}
